<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Xdigest</string>
	<key>CFBundleIconFile</key>
	<string>Xdigest</string>
	<key>CFBundleIdentifier</key>
	<string>com.webcpu.xdigest</string>
	<key>CFBundleName</key>
	<string>Xdigest</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.12.0</string>
	<key>CFBundleVersion</key>
	<string>20260414.173024</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Xdigest uses the local network so you can read your digest on your iPhone, iPad, or other devices.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/webcpu/Xdigest/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>XgNw6L6hW2/DoSMyhQpCAMQaxRZ5vcKiIpvTmtHShec=</string>
</dict>
</plist>
